<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Users</h2></div>       
  </div>
  
  
  
  <div class="row">
    
    <div class="columns small-12">
      <h3 class="pos-r">My Users<button class="action-button modal-button" data-action="add" data-id="#userModal"><i class="fa fa-plus fs-16"></i></button></h3>      
	 
      <table>
        <thead>
          <tr>
            <td>Name</td> 
            <td></td>                       
          </tr>
        </thead>
        <tbody id="userTableData">
        	<% @organization.users.each do |u| %>
        		<!-- Wow this is awesome! Thanks Jesus! -->
        		<% if !can? :delete, u %>
        			<%= u.generateAddHtml "disabled" %>
    			<% elsif u.id == current_user.id %>    			
		       		<%= u.generateAddHtml "disabled" %>
	       		<% else %>
	       			<%= u.generateAddHtml %>
        		<% end %>          		
          	<% end %>
        </tbody>
      </table>
    </div>
    
  </div>  
</div>






