<div class="bg-ow p-30">
	<div class="container m-a">
		<h1 class="ta-c ff-mono m-30">Access FaithConnection from any Device.</h1>
		<div class="divider bd bdc-dg"></div>
		<div class="clearfix m-30">
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Mobile and Tablet</h3>
				<p class="c-dg">Access the applications from any mobile phone or any tablet.  Android, IOS, and Windows all work with FaithConnection</p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Full Functionality</h3>
				<p class="c-dg">Every feature is available on every device.  You can add events in EventConnection from any web browser.</p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Fully Responsive</h3>
				<p class="c-dg">The web application responds to the size of the screen, all the functionality is there, but it might be in a different place.</p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Full Access</h3>
				<p class="c-dg">Once you login you have access to every different part of FaithConnection.  Plus you have access to full support.</p>
			</div>
		</div>
	</div>	
</div>