<div class="p-30">
	<div class="container m-a c-dg">
		<h1 class="ta-c m-20">Connect From Anywhere</h1>
		<div class="clearfix m-30">
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Mobile and Tablet</h3>
				<p>Access the applications from any mobile phone or any tablet.  Android, IOS, and Windows all work with <b>connectyourchurch</b></p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Full Functionality</h3>
				<p>Every feature is available on every device.  If you can do something on your desktop you can also do it on any mobile device with a web browser.</p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Fully Responsive</h3>
				<p>The web application responds to the size of the screen, all the functionality is there, but it might be in a different place.</p>
			</div>
			<div class="large-3 columns ta-c">
				<h3 class="tt-u fs-20">Full Access</h3>
				<p>Once you login you have one location where all of your connections will be located.</p>
			</div>
		</div>
	</div>	
</div>