<div class="p-hu bg-ow connections">
	<div class="row">
		<div class="columns medium-12 p-lgr">
			<h1 class="fs-hu c-dg ta-c mb-15">Let Us Help You Connect</h1>
		</div>
	</div>
	<div class="row">		
		<div class="columns large-4 ta-c">
			<a href="#events-box" class="ta-c fs-hu ff-days button bdrz-10 td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="ev">events</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#people-box" class="ta-c fs-hu ff-days button td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="or">people</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#work-box" class="ta-c fs-hu ff-days button td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="wo">work</a>
		</div>
	</div>
	<div class="row">
		<div class="columns large-4 ta-c">
			<a href="#expenses-box" class="ta-c fs-hu ff-days button td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="ex">expenses</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#music-box" class="ta-c fs-hu ff-days button td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="mu">music</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#social-box" class="ta-c fs-hu ff-days button td-n hover" data-side-link data-transit data-options="animation:scroll" data-class="so">social</a>
		</div>
	</div>
</div>