<div class="p-hu bg-ow connections">
	<div class="row">
		<div class="columns medium-12 p-lgr">
			<h1 class="fs-hu c-dg ta-c mb-15">Let Us Help You Connect</h1>
		</div>
	</div>
	<div class="row">		
		<div class="columns large-4 ta-c">
			<a href="#events-box" class="ta-c fs-hu ff-days button bg-n bdrz-10 event-button td-n home-page-scroll-button">events</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#people-box" class="ta-c fs-hu ff-days button outreach-button td-n bg-n home-page-scroll-button">people</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#work-box" class="ta-c fs-hu ff-days button work-button td-n bg-n home-page-scroll-button">work</a>
		</div>
	</div>
	<div class="row">
		<div class="columns large-4 ta-c">
			<a href="#expenses-box" class="ta-c fs-hu ff-days button expense-button td-n bg-n home-page-scroll-button">expenses</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#music-box" class="ta-c fs-hu ff-days button music-button td-n bg-n home-page-scroll-button">music</a>
		</div>
		<div class="columns large-4 ta-c">
			<a href="#social-box" class="ta-c fs-hu ff-days button social-button td-n bg-n home-page-scroll-button">social</a>
		</div>
	</div>
</div>