<div class="bg-ex p-m" id="expenses-box">
	<div class="row">
		<h1 class="c-ow ta-c pt-15">Expenses</h1>
		<h3 class="c-ow ta-c">Balance your budget!  Know what you are spending!</h3>
		<div class="columns medium-4 ta-c fs-hu">
			<!--<p class="fs-18 c-ow">
				Planning church events can be hard work.  You must make sure everyone is able to make it and make sure all things are ready.  With <b>connectyourchurch</b> we have made
				it simple to add an event and then assign items to those events.  Making sure that your church is ready for each church gathering.  From services to luncheons, or youth
				activities.  We have you connected!
			</p>-->
		</div>
		<div class="columns medium-4 ta-c fs-hu">
			<p class="fs-18 c-ow">
				
			</p>
		</div>		
	</div>	
</div>