<div class="bg-dia p-30 pricing">
	<div class="container m-a">
		<h1 class="ff-mono ta-c c-w">Pricing Plans</h1>
		<div class="clearfix row">
			<div class="medium-4 columns p-15">
				<a class="bdrz-10 bd bdc-fff p-15 bg-fgr ta-c td-n ev">
					<h4 class="c-ow ff-mono">Free</h4>
					<h1 class="c-ow ff-mono">$0</h1>
				</a>
			</div>
			<div class="medium-4 columns p-15">
				<a class="bdrz-10 bd bdc-fff p-15 bg-fgr ta-c c-w ff-mono td-n ev">
					<h4 class="c-ow ff-mono">Complete</h4>
					<h1 class="c-ow ff-mono">$25/mo.</h1>
				</a>
			</div>
			<div class="medium-4 columns p-15">
				<a class="bdrz-10 bd bdc-fff p-15 bg-fgr ta-c c-w ff-mono td-n ev">
					<h4 class="c-ow ff-mono">Enterprise</h4>
					<h1 class="c-ow ff-mono">$40/mo.</h1>
				</a>
			</div>
		</div>
	</div>
</div>