<div id="slideshow" class="clearfix w-70p mv-a-30">
	<div id="slider" class="clearfix">
		<ul id="kwiks-slideshow" class='kwicks kwicks-horizontal w-100p m-a'>
		    <li class="eSlide">
                      <%= image_tag "slides/calendar.png", :class => "pos-a b-5 w-a" %>		    						
                      <div class="info d-n">
                        <h1 class="ff-mono p-10"><i class="fi-check ph-10"></i>EventsConnection</h1>
                        <p>Schedule events like services, music, practices, etc.  You can invite users to be apart of each event.
                          <br />
                          <a href="#" class="link fs-lg">Get Scheduling!</a>
                        </p>
                      </div>
		    </li>
		    <li class="oSlide">
		    	<%= image_tag "slides/outreach.png", :class => "pos-a b-5 w-a" %>
                        <div class="info d-n">
                          <h1 class="ff-mono p-10"><i class="fi-check ph-10"></i>OutreachConnection</h1>
                          <p>Add visitors and prospects to a directory, and plan visits based on specific regions.
                            <br />
                            <a href="#" class="link fs-lg">Reach Out!</a>
                          </p>
                        </div>
		    </li>
		    <li class="dSlide">
		    	<%= image_tag "slides/design.png", :class => "pos-a b-5 w-a" %>
                        <div class="info d-n">
                          <h1 class="ff-mono p-10"><i class="fi-layout ph-10"></i>DesignConnection</h1>
                          <p>Design custom logos, websites, and publications right inside your browser.
                            <br />
                            <a href="#" class="link fs-lg">Be Outstanding!</a>
                          </p>
                        </div>
		    </li>
		    <li class="sSlide">
                      <%= image_tag "slides/social.png", :class => "pos-a b-5 w-a" %>
                      <div class="info d-n">
                        <h1 class="ff-mono p-10"><i class="fi-social-500px ph-10"></i>SocialConnection</h1>
                        <p>Track stats, statuses, posts, and people through Twitter, Facebook, Google+, and LinkedIn.
                          <br />
                          <a href="#" class="link fs-lg">Socialize!</a>
                        </p>
                      </div>				
		    </li>
		</ul>
	</div>
</div>