<div id="slideshow" class="container m-a clearfix">
	<h1 class="ff-mono c-lg ta-c fs-34">Connecting your church to the World</h1>
	<div id="slider" class="clearfix">
		<ul id="kwiks-slideshow" class='kwicks kwicks-horizontal w-100 m-a'>
		    <li class="eSlide">
		    	<%= image_tag "slides/calendar.png", :class => "pos-a b-5 w-a" %>		    						
				<div class="w-50p p-10 bdrz-5 d-n pos-a r-10">
					<h1>EventsConnection</h1>
					<p>Schedule events like services, music, practices, etc.  You can invite users to be apart of each event.</p>
					<p><a href="#" class="link">Get Scheduling!</a></p>
				</div >
		    </li>
		    <li class="oSlide">
		    	<%= image_tag "slides/outreach.png", :class => "pos-a b-5 w-a" %>
				<div class="w-50p p-10 bdrz-5 d-n pos-a r-10">
					<h1>OutreachConnection</h1>
					<p>Add visitors and prospects to a directory, and plan visits based on specific regions.</p>
					<p><a href="#" class="link">Reach Out!</a></p>
				</div>
		    </li>
		    <li class="dSlide">
		    	<%= image_tag "slides/design.png", :class => "pos-a b-5 w-a" %>
				<div class="w-50p p-10 bdrz-5 d-n pos-a r-10">
					<h1>DesignConnection</h1>
					<p>Design custom logos, websites, and publications right inside your browser.</p>
					<p><a href="#" class="link">Be Outstanding!</a></p>
				</div>
		    </li>
		    <li class="sSlide">
		    	<%= image_tag "slides/social.png", :class => "pos-a b-5 w-a" %>
				<div class="w-50p bdrz-5 d-n pos-a r-10 p-10">
					<h1>SocialConnection</h1>
					<p>Track stats, statuses, posts, and people through Twitter, Facebook, Google+, and LinkedIn.</p>
					<p><a href="#" class="link">Socialize!</a></p>
				</div>
		    </li>
		</ul>
	</div>
</div>