<div>
  <div class="row">
    <div class="columns small-12">
      <h2 class="pv-15 bdb-g bdbw-1 bdc-ccc pos-r">
        DashBoard
        <button data-dropdown="add-dropdown" data-options="align:left"><i class="fa fa-plus fs-16 mh-5"></i></button>
        <ul id="add-dropdown" class="f-dropdown" data-dropdown-content>
          <li><a href="#">User</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Member</a></li>
          <li><a href="#">Prospect</a></li>
          <li><a href="#">Design</a></li>
        </ul>
      </h2>
    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6">

      <h3 class="c-lg">Recent Activity</h3>
      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Activity</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            
          </tr>
        </tbody>
      </table>

    </div>

    <div class="columns large-6">

      <h3 class="c-lg">Upcoming Events</h3>
      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Start Date</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
  
  
</div>