<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Events</h2></div>
  </div>
  
  <div class="row">
    <div class="columns small-12">
      <h3 class="pos-r">My Events<button><i class="fi-plus fs-16"></i></button></h3>        
      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Location</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  
  
  <div class="pos-r">
    
    
    
  </div>
  
  
  
  
  
</div>
