<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Designs</h2></div>
  </div>
  
  <div class="row">
    <div class="columns small-12 pos-r">
      <h3>My Designs<button><i class="fi-plus fs-16"></i></button></h3>

      

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Template</td>
            <td>Last Modified</td>
            <td>Type</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  
  
  
</div>
