<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">OutreachConnection</h2></div>
  </div>  
  
  <div class="row">
    <div class="columns large-6">
    
      <h3>Members<button><i class="fi-plus fs-16"></i></button></h3>

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Date Joined</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>

    <div class="columns large-6">

      <h3>Prospects<button><i class="fi-plus fs-16"></i></button></h3>

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Date Last Visited</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
  
  <div class="row">
    <div class="columns large-6">
    
      <h3>Groups<button><i class="fi-plus fs-16"></i></button></h3>

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Last Scheduled</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
    <div class="columns large-6">
    
      <h3>Families<button><i class="fi-plus fs-16"></i></button></h3>

      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Last Visited</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
  
  
  
  
  
  
  
  
</div>