<div>
  <div class="row">
    <div class="columns small-12"><h2 class="pv-15 bdb-g bdbw-1 bdc-ccc">Music</h2></div>
  </div>
  
  <div class="row">
    <div class="columns medium-6">
      <h3 class="pos-r">My Songs<button class="action-button modal-button" data-action="add" data-id="#musicModal"><i class="fa fa-plus fs-16"></i></button></h3>      
      <table>
        <thead>
          <tr>
            <td>Title</td>
            <td>Author</td>
            <td width="50"></td>            
          </tr>
        </thead>
        <tbody id="musicSongsTableData">        	
        		        	
        </tbody>
      </table>
    </div>
    
    <div class="columns medium-6">
      <h3 class="pos-r">My Song Tags<button class="action-button modal-button" data-action="add" data-id="#musicSongTagsModal"><i class="fa fa-plus fs-16"></i></button></h3>      
      <table>
        <thead>
          <tr>
            <td>Name</td>                        
            <td width="50"></td>
          </tr>
        </thead>
        <tbody id="musicSongTagsTableData">
        	
        </tbody>
      </table>
    </div>
    
  </div>
  
  <div class="row">
    <div class="columns medium-6">
      <h3 class="pos-r">My Song Types<button class="action-button modal-button" data-action="add" data-id="#musicSongTypesModal"><i class="fa fa-plus fs-16"></i></button></h3>      
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td width="50"></td>            
          </tr>
        </thead>
        <tbody id="musicSongsTableData">        	
        		        	
        </tbody>
      </table>
    </div>
    
    <div class="columns medium-6">
      <h3 class="pos-r">My Song Groups<button class="action-button modal-button" data-action="add" data-id="#musicSongGroupsModal"><i class="fa fa-plus fs-16"></i></button></h3>      
      <table>
        <thead>
          <tr>
            <td>Name</td>  
            <td>Description</td>                      
            <td width="50"></td>
          </tr>
        </thead>
        <tbody id="musicSongTagsTableData">
        	
        </tbody>
      </table>
    </div>
    
  </div>
  
  
  
  
  
  
  
</div>