@import "variables";

#side-bar{
    overflow-y: auto;
    overflow-x: hidden;  
    padding: 0;
    @extend .bdr-g;
    border-right-width: 6px;    
}
//Different classes for the side bar to indicate what page the user is on
#side-bar[data-class="da"]{border-color: $darkBlue;}
#side-bar[data-class="us"]{border-color: $us_color;}
#side-bar[data-class="ev"]{border-color: $ev_color;}
#side-bar[data-class="mu"]{border-color: $mu_color;}
#side-bar[data-class="or"]{border-color: $or_color;}
#side-bar[data-class="de"]{border-color: $de_color;}
#side-bar[data-class="so"]{border-color: $so_color;}
#side-bar[data-class="wo"]{border-color: $wo_color;}
#side-bar[data-class="ex"]{border-color: $ex_color;}

#side-bar a p{margin:0;}

#breadcrumbs li{width: 16.666667%;}
.side, .connections, #breadcrumbs{
        
    a:hover{text-decoration: none;}
    a{-webkit-font-smoothing: antialiased;}
    a span{@extend .d-n;}
    .regular-button:hover,.dashboard-button.active{background-color: $darkBlue;color: white;}
    .dashboard-button:hover,.dashboard-button.active{background-color: $darkBlue;color: white;}
    .user-button:hover,.user-button.active{background-color: $us_color;color: white;}
    .event-button:hover,.event-button.active{background-color: $ev_color;color: white;}
    .music-button:hover,.music-button.active{background-color: $mu_color;color: white;}
    .outreach-button:hover,.outreach-button.active{background-color: $or_color;color: white;}
    .design-button:hover,.design-button.active{background-color: $de_color;color: white;}
    .social-button:hover,.social-button.active{background-color: $so_color;color: white;}
    .work-button:hover,.work-button.active{background-color: $wo_color;color: white;}
    .expense-button:hover,.expense-button.active{background-color: $ex_color; color: white;}     
}
.tab-content > div{
    .row{max-width: 100%;}
    h2{font-family: "daysregular";}
    h3{color: rgb(196, 196, 196);@extend .fw-b;@extend .pos-r;font-family: "robotoregular";@extend .m-0;}
    button{@extend .pos-r;;@extend .bd;@extend .bdc-ccc;@extend .c-dg;padding: 7px 30px;@extend .bdrz-5;@extend .bg-w;@extend .ev;@extend .fl-r;margin-bottom: 8px;}
    table{width: 100%;border-spacing: 0;border-collapse: separate;@extend .ov-h;@extend .bd-n;@extend .mt-5;        
          thead td{border-right: 1px solid #ccc;@extend .p-n;}
          thead td:last-child{border-right: none;}
          tbody{
                tr{@extend .cur-p;}                
                tr:hover{background: darken(#fff, 9%);}
                td{border-bottom: 1px solid #bbb;border-right: 1px solid #bbb;@extend .p-n;}
                a{color: #333;}
                a.delete{color: #f04124;}
                a:hover{text-decoration: none;}
                td:last-child{@extend .p-0;}
                tr td:first-child{border-left: 1px solid #bbb;}                
          }
          
    }
}
//Dashboard Container
#dashboard-container{
    .f-dropdown{
        li a:hover{background: $darkBlue;color: white;text-decoration: none;}
    }
    h2{color: $darkBlue;}
    thead{background: $darkBlue;
          td{color: white;border-right-color: lighten($darkBlue, 10%);}        
    }    
}

//Users container
#users-container{
    h2{color: $us_color;}
    thead{background: $us_color;
          td{color: white;border-right-color: lighten($us_color, 10%);}
    }
    span.label{background: $us_color;@extend .mh-10;@extend .pl-5;@extend .pr-5;@extend .pt-10;@extend .pb-10;}
}
#userModal{
  .action-button{
    color: $us_color;
    &:hover{color: darken($us_color, 10%);}  
  }
}

//Events container
#events-container{
    h2{color: $ev_color;}
    thead{background: $ev_color;
          td{color: white;border-right-color: lighten($ev_color, 10%);}
    }           
}
#eventModal, #itemModal, #eventTemplateModal{
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{border-color: $ev_color;}
  .action-button{color: $ev_color;&:hover{color: darken($ev_color, 10%);}
  }
  .isTemplate{@extend .bg-ev;@extend .bdbrrz-5;@extend .c-ow;top: 0px;left: 0px;@extend .fs-sm;@extend .fw-b;@extend .pos-a;@extend .p-5;}
  .item-list .event-item:first-child{border-top: 1px solid #ccc;}
}
//Override date time picker
.dtpicker-buttonCont .dtpicker-button{
  background: $ev_color;
  @extend .bdrz-5;
  @extend .c-ow;
  &:hover, &:focus{background: darken($ev_color, 10%);@extend .c-ow;}  
}

//Music container
#music-container{
    h2{color: $mu_color;}
    thead{background: $mu_color;
          td{color: white;border-right-color: lighten($mu_color, 10%);}
    }
}

//Outreach container
#outreach-container{
    h2{color: $or_color;} 
    thead{background: $or_color;
          td{color: white;border-right-color: lighten($or_color, 10%);}
    }
}

//Design container
#designs-container{
    h2{color: $de_color;}
    thead{background: $de_color;
          td{color: white;border-right-color: lighten($de_color, 10%);}
    }
}

//Social container
#social-container{
    h2{color: $so_color;}
}

//Work container
#work-container{
    h2{color: $wo-color;}
}
//Expenses container
#expense-container{
    h2{color: $ex-color;}
}

//Information Modals
.velocity-modal{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y: auto;
  overflow-x: hidden;
  background: none;
  display: none;
  .modal-dialog.tiny{width: 100%;max-width: 400px;}
  .modal-dialog{
    background: white;
    margin: 100px auto;
    display: none;
    @extend .pos-r;
    @extend .p-n;
    h3{@extend .c-lg;@extend .fs-lg;@extend .m-0;@extend .pb-5;@extend .pt-10;}
    label, p{
      @extend .m-0;
      @extend .lh-14;
    }
    label{
      @extend .fw-b;
      @extend .pb-5;
      @extend .w-100p;     
    }
    p{
      @extend .pb-10;
      @extend .fs-sm;
    }
    a.reveal-action{
      @extend .c-dg;@extend .td-n;@extend .ev;@extend .bg-ow;
      &:focus{background: #e3e3e3;}
    }
    a.reveal-action.active{background: #333;color: white;}
    .event-item{
      a{padding: 6px 8px; font-size: 1.5em;}
    }  
  }
}

.modal-dialog{
  p.title{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    color: #808080;
  }
  p.sub-title{@extend .fs-n;@extend .pv-10;}
}




