@media all and (max-width: 1000px){
  #breadcrumbs li a{font-size: 1em;}
}
@media all and (max-width: 850px) {  
  #side-bar a{font-size: .8em;}  
}

@media all and (max-width: 768px){
    .top-bar{margin-left: 3em;}
    .top-bar .navigation{display: none;}
    .tab-content{width: 100%;}
    .top-bar ul .logo{height: 50px;}
    #breadcrumbs{display: none;}
}

@media all and (max-width: 600px) {
  #slider li, #slider{height: 300px;}
  #slider li{
    p{font-size: 1em;margin:0;}
    a{font-size: 1.2em;}
  }  
}
@media all and (max-width: 400px) {
  #slider li{
    p{font-size: .8em;margin:0;padding:5px;}
    a{font-size: 1em;}
  }
  
}
