@media all and (max-width: 1000px){
  #breadcrumbs li a{font-size: 1em;}
}
@media all and (max-width: 850px) {  
  #side-bar a{font-size: .8em;}
}

@media all and (max-width: 768px){
    .top-bar .navigation{display: none;}
    #side-bar{display: none;}
    #side-bar-button{display: block;}
    .tab-content{width: 100%;}
    .top-bar ul .logo{height: 50px;}
    #side-bar-button{font-size: 1.2em;padding: 4px 15px;}
    #breadcrumbs{display: none;}
}

@media all and (max-width: 600px) {
  #slider li, #slider{height: 300px;}
  #slider li{
    p{font-size: 1em;margin:0;}
    a{font-size: 1.2em;}
  }
  
  #side-bar-mobile{top: 54px;} 
  #side-bar-button{padding: 3px 15px;}
}
@media all and (max-width: 400px) {
  #slider li{
    p{font-size: .8em;margin:0;padding:5px;}
    a{font-size: 1em;}
  }
  
}
