@media all and (max-width: 1200px){
  #side-bar a{font-size: .8em;} 
  #side-bar a p{font-size: 1em;}
}
@media all and (max-width: 1024px){
  #side-bar{display: none;}
}
@media all and (max-width: 1000px){
  #breadcrumbs li a{font-size: 1em;}
  .tab-content > div{width: 100%;}
}
@media all and (max-width: 850px) {  
  #side-bar a{font-size: .8em;}  
}

@media all and (max-width: 768px){
    #breadcrumbs{display: none;}
    #body{padding-top: 53px;}    
    .top-bar .navigation{display: none;}
    .tab-content{width: 100%;}
    .top-bar ul .logo{height: 50px;}
    ul.title-area.left{margin-left: 3em;}
    .side-links-toggle{display: block;}
}

@media all and (max-width: 600px) {
  #slider li, #slider{height: 300px;}
  #slider li{
    p{font-size: 1em;margin:0;}
    a{font-size: 1.2em;}
  }  
}
@media all and (max-width: 400px) {
  #slider li{
    p{font-size: .8em;margin:0;padding:5px;}
    a{font-size: 1em;}
  }
  
}
@media all and (max-width: 768px){ }