@import "atomic";
@import "variables";

/*****************************/
//Initialize 
/****************************/
body{margin: 0;}
a{display: block;text-decoration: none;}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{@extend .p-5;font-family: "robotoregular";}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{border-color: $darkGreen;}
a:hover{text-decoration: underline;}
/*Set fonts*/
p, a, td, label, input, div{font-family: "robotoregular";}
h1,h2,h3,h4,h5,h6{font-family: "daysregular";}

/*************************************/
//Colors
/************************************/
.c-ow {color: $offWhite;}
.c-ow.ev:hover {color: white;}
.c-lg{color: $lightGray;}
a.c-lg:hover{color: $offWhite;}
.c-dg{color: $darkGray;}
.c-dg.ev:hover{color: black;}
.c-dgr{color: $darkGreen;}
.c-dgr.ev:hover{color: darken($darkGreen, 10%);}
/*Backgrounds*/
.bg-dgr {background: $darkGray;}
.bg-dgr.ev:hover{background: lighten($darkGray, 10%);}
.bg-dbl {background: $darkBlue;}
.bg-dbl.ev:hover{background: lighten($darkBlue, 10%);}
.bg-w {background: #fff;}
.bg-w.ev:hover{background: darken(#fff, 10%);}
.bg-fgr{background: #121218;}
.bg-fgr.ev:hover{background: lighten(#121218, 10%);}
.bg-dia{background: url("backgrounds/diagonal.png") repeat #121218;}
.bg-geo-blue{background: url("backgrounds/geo.png") repeat $darkBlue;}
.bg-dg{background: $offBlack;}
.bg-ow{background: $offWhite;}
.bg-ow.ev:hover{background: darken($offWhite, 10%);}
.bg-faith-green{background: lighten($darkGreen, 10%);}
.bg-faith-green.ev:hover{background: $darkGreen;}
.bg-faith-green.ev:focus{background: darken($darkGreen, 10%);}
.bg-dr{background: lighten($del_color, 10%);color: white;}
.bg-dr:hover{background: $del_color;color: white;}
.bg-dr:focus{background: darken($del_color, 10%);color: white;}
//Different portal backgrounds

//Action Colors
.c-dr{color: $del_color;}
.c-dr.ev:hover{color: darken($del_color, 10%);}
//Connection colors

//Border colors
.bdb-bl {border-bottom: 3px solid $darkBlue;}
/*****************************/
//Atomic
/*****************************/
.td-n:hover{text-decoration: none;}
.bdrz-50p{border-radius: 50%;-webkit-border-radius: 50%;}
.mw-400{max-width: 400px;@extend .m-a;}
.h-100p{height: 100%;}
.off {margin-right: -100%;}
.tiny{width: 98%;max-width: 500px;}
.bdrz-50p{border-radius: 50%;-webkit-border-radius: 50%;}
//Fonts
.ff-mono{font-family: 'Roboto';}
.ff-days{font-family: 'daysregular';}

/***********************************/
//Foundation Overrides
/***********************************/
.button{transition: background-color 100ms ease-out;}
.row{max-width: 100%;}
.tooltip{@extend .bdrz-10;margin-left: -2px;@extend .p-10;}
.close-velocity-modal{color: #333;@extend .bg-ow;@extend .bd;@extend .bdc-ccc;@extend .ev;}
.close-velocity-modal:hover{color: #333;}
.close-velocity-modal.close{color: #ccc;@extend .pos-a;@extend .t-0;@extend .r-0;@extend .fs-hu;@extend .bg-ow;@extend .ev;@extend .ph-10;@extend .bd;@extend .bdc-ccc;@extend .bdblrz-5;}
.close-velocity-modal.close:hover{text-decoration: none;color: darken(#ccc, 10%);}
#confirmDialog .close-reveal-modal{@extend .pos-r;@extend .fs-n;@extend .fw-n;@extend .c-dg;@extend .bd;@extend .bdc-ccc;top: 0;right: 0;@extend .ev;}
.velocity-modal{@extend .d-n;position: absolute;@extend .z-100;@extend .bg-w;@extend .p-n;left: 50%;top: 100px;}
//Side links overrides
.side-links-toggle{padding: 9px 20px 9px 0;}
/*********************************/
//Global Class
/**********************************/
//Errors
input.error,select.error{-webkit-box-shadow: 0 0 3px 0px #f04124;box-shadow: 0 0 3px 0px #f04124;border-color: #f04124;}
label.error{background:#f04124;@extend .fs-12;padding:2px;color:white;margin-bottom:5px;}

//Alerts
.alert-box.top{left: 0;right: 0;margin-right: auto; margin-left: auto;width: 100%;max-width: 500px;font-size: 14px;z-index: 2000;
  ul li{font-size: 12px;}
}

//Disabled Class
.disabled{@extend .op-50;pointer-events: none;}

/**********************************/
//IDs
/*********************************/
#loginModal{
  #loginForm{
    input[type='checkbox']{float:left;}
    label[for='user_remember_me']{float: left;padding: 0 5px;width: auto;}
  }
}
#body{padding-top: 64px}
#registerContainer{padding-top: 100px;}
#footer{
  div.columns:first-child{@extend .bdl-n;}
  div.columns{@extend .bd;@extend .bdt-n;@extend .bdr-n;@extend .bdb-n;border-color: #808080;}  
  
}
#footer.fxd-bottom{position:fixed;width:100%;bottom:0;}
#modal-overlay{@extend .d-n;background: black;@extend .op-60;@extend .pos-f;@extend .t-0;@extend .l-0;@extend .b-0;@extend .r-0;}
/***********************************/
//Overlays
/***********************************/
.overlay{@extend .pos-f;@extend .op-50;@extend .t-0;@extend .b-0;@extend .l-0;@extend .r-0;@extend .ovy-a;@extend .ovx-h;@extend .d-n;background: black;}
#loader-overlay{@extend .bg-ow;z-index: 500;
  #middleLoadingSpinner{margin: 25% auto;width: 60px;height: 60px;}
}
/**********************************/
//_mobile_side.html.erb
/**********************************/
.side-links{width: 250px;left: -250px;top: 53px;@extend .bg-ow;@extend .z-600;
  ul{@extend .lis-n;@extend .m-0;
    a{@extend .bdb-g;@extend .bdc-ccc;@extend .fs-n;@extend .p-sm;@extend .d-b;@extend .w-100p;@extend .bdrz-n;@extend .ta-l;@extend .c-dg;@extend .m-0;&:hover{background: #d7d7d7;color: black;@extend .td-n;}
      p{margin: 0;}      
    }     
  }  
}
/**********************************/
//_header.html.erb
/**********************************/
a.transitTopButton{font-size: 1.2em;padding: 10px 13px;bottom: 10px;right: 10px;background: transparent;@extend .bxsh-h;@extend .bd-n;transition: background-color 300ms ease-out;&:hover{background: lighten(#121218, 5%);color: lighten(#121218, 20%);}}
header{@extend .bdb-bl;background: white;}
.top-bar{height: auto;background: white; 
  .logo{height: 60px;}  
  .navigation li a {padding: 18px;color: #333;border-bottom: none;&:hover{background: $offWhite;text-decoration: none;}}
  .navigation li a.active{background: $darkBlue;color: #fff;}
}
.side-links-toggle{@extend .pos-a;@extend .d-n;@extend .c-dg;&:hover{color: black;}}
#breadcrumbs{@extend .w-100p;display: none;
  li{width: 16.666666666667%;
    a{@extend .m-0;@extend .w-75p;}
  }
}
/**********************/
//_connections.html.erb
/*********************/
.connections a{@extend .bdrz-10;@extend .bd;@extend .bdc-ccc;@extend .w-100p;@extend .c-dg;}
/******************/
//_pricing.html.erb
/******************/
.pricing{
  a:hover{@extend .td-n;}  
}

@import "connections";

@import "account";

@import "screen_size";

