$lightBlue: #2A78C6;
$darkBlue: #1a4a7a;
$lightGreen: #84f315;
$darkGreen: #137e58;
///////////////////Home Page Slides
$ev_theme: #2088cd;
$or_theme: #4bb4df;
$de_theme: #828282;
$so_theme: #3b5895;
///////////////////
$da_color: $darkBlue;
$us_color: $darkGreen;
$ev_color: $ev_theme;
$mu_color: #63A568;
$or_color: $or_theme;
$de_color: #1b3041;
$so_color: $so_theme;
$wo_color: #cf4b5b;
$ex_color: #24bd92;
////////////////////Base Colors
$lightGray: #808080;
$offWhite: #f1f1f1;
$darkGray: #333;
$offBlack: #1d1d1d;
////////////////////Action colors
$del_color: #f04124;