createAlert({
	type: "success",
	msg: "<%= msg %>"		
});

var container = $("#itemBox .item-list");
console.log("WHAT!");
$(container).empty();

var html = "";
<% 
html = ""
count = 0
e.event_items.each do |i| 
	html += "<div class='clearfix bg-ow bdb-g bdc-ccc ev cur-p'>
	puts html
	html += "<div class='w-75p bdr-g bdl-g bdc-ccc p-10 fl-l'>#{i.name}</div>"
	puts html
	html += "<div class='w-25p bdr-g bdc-ccc p-10 fl-l'>#{i.duration}</div>"
	puts html
	html += "<input type='hidden' name='items[item#{count}[name]]' value='#{i.name}' />"
	puts html
	html += "<input type='hidden' name='items[item#{count}[duration]]' value='#{i.duration}' />"
	puts html
	html += "</div>"
	puts html
	count++ 
end
%>
	console.log("HEY!");
	<% puts "YEAH YEAH " %>
	html += "";
		html += "<div ";
		html += "";
		html += "";
		html += "<input type='hidden' name='items[item"+counter+"[duration]]' value='<%= i.duration %>' />"; 		
	html += "</div>";
<% end %>
console.log("HTML" + html);
$(container).append(html);
//enable the select box
$("#event_template_id").removeClass("disabled");
	