<% if success %>
	createAlert({
		type: "success",
		msg: "<%= msg %>"		
	});
	
	//Reset the form and close the modal
	$("#addEventForm")[0].reset();
	$("#addEventForm").find(".item-list").empty();
	$("#addEventForm").find("#itemBox").hide();
	$("#addEventForm").find(".reveal-action").removeClass("active");
	toggleModal("#eventModal");	
	$("#eventTableData").append("<%= e.generateEventInfo %>");	
<% else %>

	var msg = "<p><%= msg %>";
		msg += "<ul><li><%= reasons %></li></ul>";
		msg += "</p>";
	createAlert({
		type: "alert",
		msg: msg
	});	
<% end %>
