<div id="confirmDialog" class="reveal-modal tiny" data-reveal>
  <p class="fs-30 pv-10 bdb-g bdc-ccc">Are you Sure?</p>
  <p class="confirm-info fs-18">You want to <span class="c-dr">DELETE</span></p>
  <div class="clearfix pb-15">
  	<span class="confirm-type fw-b fs-16 ph-10 fl-l"></span>
  	<span class="confirm-name fs-16 ph-10 fl-l"></span>
  </div>
  <a href="#" class="button fl-l close-reveal-modal bg-ow radius m-0">No</a>
  <a href="#" class="button alert radius fl-r confirm-button m-0 td-n" data-remote="true" data-method="delete">Yes</a> 	
</div>