<div id="footer" class="bg-fgr pv-10 clearfix">
	<div class="container m-a clearfix">
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">EventsConnection</a>
		</div>
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">SocialConnection</a>
		</div>
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">OutreachConnection</a>
		</div>
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">FinancialConnection</a>
		</div>
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">DesignConnection</a>
		</div>
		<div class="large-2 columns ta-c">
			<a href="#" class="c-lg fs-12 p-10">WorkConnection</a>
		</div>
	</div>
	<p class="ta-c pv-10 c-lg fs-sm m-0">&copy; Copyright <%= Time.now.year %> FaithConnection</p>
</div>
