<div id="footer" class="bg-fgr pv-10 clearfix fxd-bottom">
	<p class="ta-c pv-10 c-lg fs-sm m-0">&copy; Copyright <%= Time.now.year %> FaithConnection</p>
	<a href="#home-page .connections" class="pos-a c-dg ta-c button t-5 bg-n r-5 bdrz-50p fs-lg bxsh-l d-n" data-transit data-options="animation:scroll"><i class='fa fa-arrow-up'></i></a>
</div>
