<header>
  <nav class="top-bar clearfix">
  	<ul class="title-area left">
    	<li><%= link_to image_tag("faith-logo.png",:class => "p-10 w-a logo"), "/", :alt => "Faith Connection" %></li>
  	</ul>
	<ul class="fl-r navigation">
      <li class="fl-l"><a id="registerLink" class="cur-p">Register</a></li>
	  <li class="fl-l"><a id="loginLink" class="cur-p">Login</a></li>	      	      
    </ul>
  </nav>
</header>