<header class="m-a w-100 container clearfix pos-r"> 
      <%= link_to image_tag("faith-logo.png",:class => "fl-l pt-10 pb-10 w-a logo"), "/", :alt => "Faith Connection" %>
      <a href="#" class="pt-10 pl-15 pr-15 pb-10 fs-20 fl-r bg-fblue ff-mono bdblrz-10 bdbrrz-10" id="connect-button" data-open="false">Connect<span class="gicon-chevron-down gicon-white m-5"></span></a>
      <div id="login-form" class="bdbrrz-10 bdblrz-10 bdtlrz-10 bg-fblue p-10 pos-a r-0 d-n">
      	<form action="#" method="post">
      		<input type="text" name="username" class="m-5 w-100" placeholder="Username" />
      		<input type="password" name="password" class="m-5" placeholder="Password" />
      		<input type="submit" value="Login" class="m-5 w-100 button bg-fblue" />
      	</form>
      </div>
</header>