<header class="pos-f t-0 z-1000 w-100p">
  <nav class="top-bar clearfix">        
        <a href='#' class='side-links-toggle'><i class='fa fa-bars fa-2x'></i></a>         
  	<ul class="title-area left">
    	<li><%= link_to image_tag("connectyourchurch.png",:class => "pt-10 pb-5 pl-10 pr-10 w-a logo fl-l"), "/" %></li>
  	</ul>
	<ul class="fl-r navigation">
		<% if !user_signed_in? %>
            <li class="fl-l"><a href="#" data-id="#registerModal" id="registerLink" class="cur-p modal-button" data-side-link>Register</a></li>
	  		<li class="fl-l"><a href="#" class="cur-p bdb-bl modal-button" data-id="#loginModal" data-side-link>Login</a></li>
  		<% else %>  			
  			<li class="fl-l"><%= link_to('Logout', destroy_user_session_path, :method => :delete, "data-side-link" => "", "class" => "bdb-bl") %></li>
  		<% end %>	      	      
    </ul>
  </nav>  
</header>