<div class="fl-l h-100p bdr-g bdrw-1 bdc-ccc columns large-1 p-0 side" id="side-bar" data-class="da">
  <ul class="m-0 lis-n">
    <li>
    	<a href="#dashboard-container" class="d-b pv-15 c-dg ta-c ev active hover" data-class="da" >
    		<i class="fa fa-home fs-hu"></i>
    		<p>Dashboard</p>
		</a>
	</li>
    <li>
    	<a href="#users-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="us" >
    		<i class="fa fa-sign-in fs-hu"></i>
    		<p>Users</p>
		</a>
	</li>
    <li>
    	<a href="#events-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="ev" >
    		<i class="fa fa-calendar fs-hu"></i>
    		<p>Events</p>
		</a>
	</li>
    <li>
    	<a href="#music-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="mu" >
    		<i class="fa fa-music fs-hu"></i>
    		<p>Music</p>
		</a>
	</li>
    <li>
    	<a href="#outreach-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="or" >
    		<i class="fa fa-users fs-hu"></i>
    		<p>Outreach</p>
		</a>
	</li>
    <li>
    	<a href="#designs-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="de" >
    		<i class="fa fa-columns fs-hu"></i>
    		<p>Designs</p>
		</a>
	</li>
    <li>
    	<a href="#social-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="so" >
    		<i class="fa fa-share-alt fs-hu"></i>
    		<p>Social</p>
		</a>
	</li>    
    <li>
    	<a href="#work-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="wo" >
    		<i class="fa fa-wrench fs-hu"></i>
    		<p>Work</p>
		</a>
	</li>    
    <li>
    	<a href="#expense-container" class="d-b pv-15 c-dg ta-c ev hover" data-class="ex" >
    		<i class="fa fa-money fs-hu"></i>
    		<p>Expenses</p>
		</a>
	</li> 
  </ul>
</div>
