
<div class="fl-l bg-ow h-100p bdr-g bdrw-1 bdc-ccc columns medium-1 p-0 side" id="side-bar" data-class="da">
  <ul class="m-0 lis-n">
    <li>
    	<a href="#dashboard" class="d-b pv-15 c-dg bg-ow ta-c ev dashboard-button active" data-class="da" data-side-link>
    		<i class="fa fa-home fs-hu"></i>
    		<p>Dashboard</p>
		</a>
	</li>
    <li>
    	<a href="#users" class="d-b pv-15 c-dg bg-ow ta-c ev user-button" data-class="us" data-side-link>
    		<i class="fa fa-sign-in fs-hu"></i>
    		<p>Users</p>
		</a>
	</li>
    <li>
    	<a href="#events" class="d-b pv-15 c-dg bg-ow ta-c ev event-button" data-class="ev" data-side-link>
    		<i class="fa fa-calendar fs-hu"></i>
    		<p>Events</p>
		</a>
	</li>
    <li>
    	<a href="#music" class="d-b pv-15 c-dg bg-ow ta-c ev music-button" data-class="mu" data-side-link>
    		<i class="fa fa-music fs-hu"></i>
    		<p>Music</p>
		</a>
	</li>
    <li>
    	<a href="#outreach" class="d-b pv-15 c-dg bg-ow ta-c ev outreach-button" data-class="or" data-side-link>
    		<i class="fa fa-users fs-hu"></i>
    		<p>Outreach</p>
		</a>
	</li>
    <li>
    	<a href="#designs" class="d-b pv-15 c-dg bg-ow ta-c ev design-button" data-class="de" data-side-link>
    		<i class="fa fa-columns fs-hu"></i>
    		<p>Designs</p>
		</a>
	</li>
    <li>
    	<a href="#social" class="d-b pv-15 c-dg bg-ow ta-c ev social-button" data-class="so" data-side-link>
    		<i class="fa fa-share-alt fs-hu"></i>
    		<p>Social</p>
		</a>
	</li>    
    <li>
    	<a href="#work" class="d-b pv-15 c-dg bg-ow ta-c ev work-button" data-class="wo" data-side-link>
    		<i class="fa fa-wrench fs-hu"></i>
    		<p>Work</p>
		</a>
	</li>    
    <li>
    	<a href="#expense" class="d-b pv-15 c-dg bg-ow ta-c ev expense-button" data-class="ex" data-side-link>
    		<i class="fa fa-money fs-hu"></i>
    		<p>Expenses</p>
		</a>
	</li> 
  </ul>
</div>
