
<div class="fl-l bg-ow h-100p bdr-g bdrw-1 bdc-ccc columns medium-1 p-0 side" id="side-bar" data-class="da">
  <ul class="m-0 lis-n">
    <li><a href="#dashboard" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right dashboard-button active" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Dashboard" data-class="da"><i class="fa fa-home fs-hu"></i><span>Dashboard</span></a></li>
    <li><a href="#users" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right user-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Users" data-class="us"><i class="fa fa-sign-in fs-hu"></i><span>Users</span></a></li>
    <li><a href="#events" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right event-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Events" data-class="ev"><i class="fa fa-calendar fs-hu"></i><span>Events</span></a></a></li>
    <li><a href="#music" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right music-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Music" data-class="mu"><i class="fa fa-music fs-hu"></i><span>Outreach</span></a></a></li>
    <li><a href="#outreach" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right outreach-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="People" data-class="or"><i class="fa fa-users fs-hu"></i><span>Outreach</span></a></a></li>
    <li><a href="#designs" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right design-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Designs" data-class="de"><i class="fa fa-columns fs-hu"></i><span>Designs</span></a></a></li>
    <li><a href="#social" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right social-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Social" data-class="so"><i class="fa fa-share-alt fs-hu"></i><span>Social</span></a></a></li>    
    <li><a href="#work" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right work-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Work" data-class="wo"><i class="fa fa-wrench fs-hu"></i><span>Work</span></a></a></li>    
    <li><a href="#expense" class="d-b pv-15 c-dg bg-ow ta-c ev tip-right expense-button" data-tooltip data-options="disable_for_touch:true;show_on:large" title="Expenses" data-class="ex"><i class="fa fa-money fs-hu"></i><span>Expenses</span></a></a></li> 
  </ul>
</div>
